a.Q {
  background: silver;
  border: solid 1px black;
  font-family: monospace;
  text-decoration: none;
  font-size: 70%;
  padding: 0 0.62ex;
}

div.Q {
  padding-left: 2em;
}

div.Q.hide {
  display: none;
}

div#\/\* input[type=checkbox] {
  position: relative;
  top: 0.4ex;
}

div#datez {
  position: relative;
  text-align: center;
  font-size: 61.8%;
}

div#datez > div{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  border: 1px solid black;
  background: silver;
}

div#datez:hover > div{
  display: block;
}
